<tl-content>
  <div class="container">
    <form>
      <div class="row">
        <tl-input class="col s12"
          label="Email"
          type="email"
          [(value)]="credentials.email"
          required="required">
        </tl-input>
      </div>
      <div class="row">
        <tl-input class="col s12"
          label="Password"
          type="password"
          [(value)]="credentials.password"
          required="required">
        </tl-input>
      </div>
      <div>
        <button class="btn" (click)="login()">LOG IN</button>
      </div>
    </form>
  </div>
</tl-content>

<tl-navigation 
  display="landing"
  [routes]="routeList">
</tl-navigation>
