<form>
  <div class="row">
    <div class="input-field col s12">
      <input name="email" 
        type="email"
        placeholder="Email" 
        ngControl="email" 
        #email="ngForm"  
        [(ngModel)]="credentials.email" 
        required />
      <label for="email">Email</label>
    </div>
  </div>
  <div>
    <input name="password" type="password" [(ngModel)]="credentials.password" placeholder="Password" required />
  </div>
  <div>
    <button [disabled]="!email.valid" (click)="login()">LOG IN</button>
  </div>
</form>